html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0f0f0f;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}

.search-bar {
  outline: none;
  background-color: transparent;
  color: #ffffff;
  width: 30rem;
  font-size: medium;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid #3b3b3b;
  background-color: transparent;
  padding: 10px 0 10px 20px;
  box-shadow: none;
}
.search-bar:focus {
  border-color: #368dd7;
  padding-left: 3rem;
}

.category-btn {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  font-weight: 600;
  font-size: small;
  text-transform: capitalize;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  padding: 7px 15px;
  border-radius: 10px;
  transition: all 0.3s ease;
  width: 100%;
}

.category-btn:hover {
  background-color: #272727;
}

.category-btn:hover span {
}

.sign-in-btn {
  color: #368dd7;
  width: 6.8rem;
  display: flex;
  align-items: center;
  justify-items: center;
  font-weight: 600;
  font-size: small;
  text-transform: capitalize;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: 1px solid #3b3b3b;
  padding: 0.5rem;
  border-radius: 20px;
  transition: all 0.3s ease;
  margin-bottom: 0.5rem;
  margin-left: 1.5rem;
}

.sign-in-btn img,
.setting-menu-vertical-btn {
  height: 1.6rem;
}

.sign-in-btn:hover {
  background-color: hsla(206, 91%, 43%, 0.544);
}

@media screen and (max-width: 900px) {
  .category-btn {
    margin: 10px;
  }
}

@media screen and (max-width: 800px) {
  .copyright {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
  }
  .search-bar {
    width: 200px;
  }
}
